<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <center>
        <h1>Welcome to HackCare</h1>
        <h2>dont forget to take for your skin health's</h2><br>
        <a href="/products"><button>Products List</button></a><br>
        <h3>have an account ?</h3><br>
        <a href="/user/login"><button>Login</button></a>
        <a href="/user/register"><button>Sign up</button></a>
    </center>
</body>
</html>